#submenubar #holder {
	height: 40px;
}
#submenubar #holder ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#submenubar #holder ul li a{
	text-decoration: none;
	float: left;
	margin-right: 10px;
	font-family: 'Helvetica Neue',sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	border: 1px solid #009bc1;
	border-bottom: none;
	padding: 10px 20px 10px 20px;
	width: 100px;
	text-align: center;
	display: block;
	background:#00b0dd;
	background:-moz-linear-gradient(top,#00b0dd 0%,#009bc1 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00b0dd),color-stop(100%,#009bc1));
	background:-webkit-linear-gradient(top,#00b0dd 0%,#009bc1 100%);
	background:-o-linear-gradient(top,#00b0dd 0%,#009bc1 100%);
	background:-ms-linear-gradient(top,#00b0dd 0%,#009bc1 100%);
	background:linear-gradient(top,#00b0dd 0%,#009bc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b0dd',endColorstr='#009bc1',GradientType=0);
}
#submenubar #holder ul li a:hover{
	background:#0088aa;
	color: #fff;
}
#submenubar #holder ul li a#onlink{
	background: #e3faff;
	background:-moz-linear-gradient(top,#caf4ff 0%,#e3faff 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#caf4ff),color-stop(100%,#e3faff));
	background:-webkit-linear-gradient(top,#caf4ff 0%,#e3faff 100%);
	background:-o-linear-gradient(top,#caf4ff 0%,#e3faff 100%);
	background:-ms-linear-gradient(top,#caf4ff 0%,#e3faff 100%);
	background:linear-gradient(top,#caf4ff 0%,#e3faff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#caf4ff',endColorstr='#e3faff',GradientType=0);
	border-bottom: #e3faff;
	color: #009bc1;
}