.menu{
width: 400px;
height: 30px;
position: relative;
float: right;
margin-right: 260px;
margin-top: 25px;
}
.menu ul{
list-style-type: none;
width: 400px;
height: 30px;
padding-left: 0px;
background-image: url('../images/menubg.png');
}
.menu ul li{
float: left;
width: 100px;
height: 30px;
text-align: center;
}
.menu ul li a{
text-decoration: none;
color: #fff;
width: 100px;
height: 30px;
line-height: 30px;
display: block;
font-family: tahoma;
font-size: 12px;
font-weight: bold;
}
.menu ul li a:hover{
background-image: url('../images/listbg.png');
}